@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.selected > a {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  transform: scale(95%);
}

.slider img {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.thumb {
  height: 60px !important;
  width: 60px !important;
}
.thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel .control-dots .dot {
  border: 2px solid black;
  box-shadow: none !important;
  width: 15px !important;
  height: 15px !important;
}
.carousel .carousel-status {
  font-size: 15px !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #acacac;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(47, 47, 47);
}
