@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&family=Lobster&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.selected > a {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}
.selected > a:hover {
  border: 2px solid black;
}
.selected > a > span {
  animation: select 0.5s ease;
}
@keyframes select {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, 50px);
  }
  31% {
    transform: translate(200%, 50px);
  }
  32% {
    transform: translate(200%, -50px);
  }
  33% {
    transform: translate(0, -50px);
  }
  70% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.slider img {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.thumb {
  height: 60px !important;
  width: 60px !important;
}
.thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel .control-dots .dot {
  border: 2px solid black;
  box-shadow: none !important;
  width: 15px !important;
  height: 15px !important;
}
.carousel .carousel-status {
  font-size: 15px !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #acacac;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(47, 47, 47);
}
.full-page {
  width: 100vw;
  height: 100vh;
  padding-top: 50vh;
}

.full-page .spinner {
  transform: scale(2);
}

.hide-y {
  overflow-y: hidden;
}
